# Python
.venv/
venv/
env/
__pycache__/
*.pyc
.pytest_cache/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Node
node_modules/

# Build
dist/
build/
*.egg-info/

# Large model/data files
*.h5
*.weights
*.pb
*.pt
*.pth
*.onnx
*.ckpt

# Data / models
data/
models/

#Project
projects/